html,
body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  color: #444444;
  position: relative;
}

a {
  color: #4154f1;
  text-decoration: none!important;
}

* {
  box-sizing: border-box;
}
:root {
  scroll-behavior: smooth;
}


a:hover {
  color: #717ff5;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Nunito", sans-serif;
}
